<h1>Classroom Info</h1>

<p>
  <%= @classroom.course_name %>
  <%= @classroom.semester %>
</p>

<h3>Enrolled Students</h3>
We now want to call out the oldest student in the class:
<%= render "students/student" %>
