<label>Name:</label>
<%= text_field_tag :name, @student.name %>

<label>Hometown:</label>
<%= text_field_tag :hometown, @student.hometown %>

<label>Birthday:</label>
<%= text_field_tag :birthday, @student.birthday %>

<%= submit_tag "Submit Post" %>

