<p>
    <label>Student Name</label>
    <%= text_field_tag :name, @student.name %><br>
</p>
<p>
   <label>Student Hometown</label>
    <%= text_field_tag :hometown, @student.hometown %><br>
</p>
<p>
   <label>Student Birthday</label>
    <%= text_field_tag :birthday, @student.birthday %><br>
</p>
  
<%= submit_tag "Submit Post" %>